body {
    width: 100%;
    height: 100%;
}

header {
    height: 60px;
    line-height: 60px;
}
/* 본문 */
section {
    width: 100%;
    height: 600px;
    background-color: rgb(67, 142, 129);
}
/* 사이드 */
aside {
    width: 100%;
    height: 300px;
    background-color: rgb(176, 165, 213);
}
/* 푸터 */
footer {
    clear: both;
    height: 30px;
}